/* ___google fonts___ */
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300&family=Merriweather+Sans:ital@1&family=Overpass&family=Poppins:wght@400;500&family=Roboto+Slab&display=swap");
/* ____overall website___ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --black: #161616;
  --white: #ffff;
}
/* ___common style___ */
body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  width: 100vw;
}
.banner {
  background-color: var(--black);
  position: relative;
  width: 1321px;
  height: 646px;
  left: 140px;
  top: 50px;
  border-radius: 30px;
}
.banner-left {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  margin-left: 106px;
  margin-top: 111px;
}
.banner-left p {
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.banner-text {
  color: var(--white);
  width: 531px;
  height: 424px;
}
.text-edit {
  font-weight: 700;
  font-size: 60px;
  line-height: 80px;
  letter-spacing: 2px;
}
.banner-img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 801px;
  top: -1px;
  bottom: -1px;
}
.click {
  color: white;
  text-decoration: none;
  background: #dd0000;
  padding: 10px;
  border-radius: 5px;
  margin-top: 30px;
  transition: background-color 2ms;
}
.click:hover {
  background-color: black;
  margin-top: 32px;
}
.design {
  width: 100%;
}

.blog {
  position: relative;
  background-color: var(--black);
  width: 312px;
  height: 312px;
  margin-left: 140px;
  margin-top: 143px;
  border-radius: 10px;
}
.blog-link {
  position: absolute;
  margin: 30px;
  padding: 20px;
  }

.same {
  color: var(--black);
  text-decoration: none;
  background: var(--white);
  padding: 10px;
  border-radius: 10px;
  margin: 20px 20px 30px 20px;
  display: grid;
  grid-template-rows: repeat(3;1fr);
  transition: background-color 2ms;
}
.same:hover{
  background-color: red;
  margin-top: 21px;
  color: aliceblue;

}
.same-2 {
  color: var(--white);
  text-decoration: none;
  background: red;
  padding: 10px;
  border-radius: 10px;
  margin: 30px 20px 30px 20px;
  display: grid;
  grid-template-rows: repeat(3;1fr);
  transition: background-color 2ms;
}
.same-2:hover{
  background-color: whitesmoke;
  margin-top: 31px;
  color: black;
}
.blogs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 143px;
  margin-left: 49px;
  grid-gap: 10px;
}

main {
  display: flex;
  margin-right: 140px;
}

.card {
  box-shadow: 2px 2px 9px gainsboro;
  width: 312px;
  height: 362px;
  background-color: aliceblue;
  transition: background-color 2ms;
}
.card:hover {
  background-color: rgb(255, 245, 226);
}
button {
  margin-top: 8px;
  margin-left: 10px;
}
.thumbnail p {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.blog-duration {
  display: flex;

  gap: 39px;
}
.duration {
  margin-left: 3px;
  margin-bottom: 15px;
  color: gray;
}
.duration span {
  padding-left: 7px;
}
.comment {
  color: gray;
}
.goal {
  margin: 20px;
  padding: 10px;
  text-align: center;
}
footer {
  background-color: black;
  color: white;
  width: 100%;
}
.footer-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 20px;
  padding: 10px;
  width: 100%;
}
hr {
  margin: auto;
  width: 60%;
  border: 2px solid gray;
}
footer a {
  margin: 9px;
  padding: 4px;
  text-decoration: none;
  color: white;
}
.tablet-view {
  display: none;
}
/*--------- media queires --------*/
/*------ mobile devices------ */
@media only screen and (max-width: 688px) {
  main {
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(1, 1fr);
  }

  .blogs {
    grid-template-columns: repeat(1, 1fr);
  }

  .blog {
    /* flex-direction: column; */
  }

  .blogs {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 136px;
  }
  .banner-left {
    width: 500px;
    height: 200px;
    /* margin: 40px; */
    margin-top: 180px;
    flex-direction: column;
    position: absolute;
  }
  .banner-img {
    margin-left: -1%;
    margin-top: 0%;
  }
  .footer-details {
    flex-direction: column;
  }
}

/*_____ tablet devices______ */

@media only screen and (min-width: 688px) and (max-width: 992px) {
  .blog {
    display: flex;
    flex-direction: row;
    width: 500px;
    height: 200px;
    border: 1px solid gainsboro;
    background-color: gainsboro;
  }
  .same {
    background-color: #161616;
    color: aliceblue;
  }
  .blog-link {
    display: flex;
    flex-direction: row;
    word-wrap: normal;
    white-space: nowrap;
  }
  .same-2 {
    white-space: nowrap;
    text-align: center;
    margin-top: 20px;
  }

  main {
    display: block;
  }

  .blogs {
    grid-template-columns: repeat(2, 1fr);
    margin-left: 136px;
  }
  .banner {
    width: 100%;
  }
  .banner-left {
    flex-direction: column;
  }
  .banner-left p {
    border: 1px solid gray;
    width: 280px;
    white-space: nowrap;
    overflow: hidden;
  }
  .elipsis {
    text-overflow: ellipsis;
  }

  .tablet-view {
    background: #dd0000;
    padding: 14px;
    border-radius: 5px;
    display: inline;
    margin-top: 30px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 380px;
  }
  .view {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 10px;
  }
  footer {
    width: 100%;
  }
}
